html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .2);
}

.tox-promotion {
    display: none;
}

.card-img-top {
    filter: brightness(50%);
    transition: filter .5s;
}

.post-card:hover .card-img-top {
    filter: brightness(100%);
}

.post-card {
    color: red;
    text-decoration: none;
    transition: color .5s;
}

.post-title {
    min-height: 115px;
}